

.env
.env.*

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

venv/
.venv/
env/
ENV/

*.pt
*.h5
*.pkl

Datasets/
ipynb code/
test_images/
uploads/

node_modules/
dist/
.vite/

.vscode/
.idea/

.DS_Store
Thumbs.db
